
<form id="camera_config" method="POST" action="/camera/camera_config">
    <div class="card">
        <h3>Camera Core Configuration</h3>
        <ul>
            <li>
                <label for="resolution">Resolution:</label>
                <select name="resolution" id="resolution">
                    <option value="640x480" {{ 'selected' if resolution == [640, 480] }}>640x480</option>
                    <option value="1640x1232" {{ 'selected' if resolution == [1640, 1232] }}>1640x1232</option>
                    <option value="3280x2464" {{ 'selected' if resolution == [3280, 2464] }}>3280x2464</option>
                </select>
            </li>

            <li>
                <label for="colorspace">Color space (not added to backend yet):</label>
                <select name="colorspace" id="colorspace">
                    <option value="sYCC" {{ 'selected' if colorspace == 'sYCC' }}>sYCC</option>
                    <option value="Smpte170m" {{ 'selected' if colorspace == 'Smpte170m' }}>Smpte170m</option>
                    <option value="Rec709" {{ 'selected' if colorspace == 'Rec709' }}>Rec709</option>
                </select>
            </li>

            <li>
                <label for="framerate">Framerate (10-30):</label>
                <input type="number" id="framerate" name="framerate" min="10" max="30" value="{{ framerate }}">
            </li>
            <li>
                <label for="iso">Analogue Gain (50-1600):</label>
                <input type="number" id="iso" name="iso" min="50" max="1600" value="{{ iso }}">
            </li>
            <li>
                <label for="expSpd">Exposure Time (µs):</label>
                <input type="number" id="expSpd" name="expSpd" min="30" max="200000" value="{{ expSpd }}">
            </li>
        </ul>

        <h3>Exposure and Gain</h3>
        <ul>
            <li>
                <label for="expMod">Exposure Mode:</label>
                <select name="expMod" id="expMod">
                    <option value="auto" {{ 'selected' if expMod == 'auto' }}>Auto</option>
                    <option value="off" {{ 'selected' if expMod == 'off' }}>Off</option>
                </select>
            </li>
        </ul>
        
        <h3>White Balance and Color</h3>
        <ul>
            <li>
                <label for="awbMod">Auto White Balance Mode:</label>
                <select name="awbMod" id="awbMod">
                    <option value="auto" {{ 'selected' if awbMod == 'auto' }}>Auto</option>
                    <option value="off" {{ 'selected' if awbMod == 'off' }}>Off</option>
                </select>
            </li>
            <li>
                <label for="awbGain">Auto White Balance Gain (0.9-1.9):</label>
                <input type="number" id="awbGain" name="awbGain" step="0.1" min="0.9" max="1.9" value="{{ awbGain }}">
            </li>
        </ul>
        <button type="submit">Update Camera Settings</button>
        <p id =camera-status></p>

    </div>
</form>

<div class="card">
    <h3>Preview</h3>
    <img alt="Camera Setting Preview Image (JPEG)" />
    
    <h3>Camera Metadata</h3>
    <ul>
        <li>Camera Model: {{ camera_model }}</li>
        <li>Camera Meta: </li>
    </ul>
</div>