
<form id="camera_init_config" method="POST" action="/camera/camera_init_config" class="card">
    <h3>Camera Initizaliation & Configuration</h3>
    <ul>
        <li>
            <label for="resolution">Resolution:</label>
            <select name="resolution" id="resolution">
                <option value="640x480" {{ 'selected' if resolution == [640, 480] }}>640x480</option>
                <option value="1640x1232" {{ 'selected' if resolution == [1640, 1232] }}>1640x1232</option>
                <option value="3280x2464" {{ 'selected' if resolution == [3280, 2464] }}>3280x2464</option>
            </select>
        </li>

        <li>
            <label for="colorspace">Color space (not added to backend yet):</label>
            <select name="colorspace" id="colorspace">
                <option value="sYCC" {{ 'selected' if colorspace == 'sYCC' }}>sYCC</option>
                <option value="Smpte170m" {{ 'selected' if colorspace == 'Smpte170m' }}>Smpte170m</option>
                <option value="Rec709" {{ 'selected' if colorspace == 'Rec709' }}>Rec709</option>
            </select>
        </li>
    </ul>
        <h3>Exposure and Gain</h3>
        <ul>
            <li>
                <label for="ExposureTime">Exposure Mode:</label>
                <select name="ExposureTimeMode" id="ExposureTimeMode">
                    <option value="0" {{ 'selected' if ExposureTimeMode == '0' }}>Auto</option>
                    <option value="1" {{ 'selected' if ExposureTimeMode == '1' }}>Manual</option>
                </select>
            </li>
            <li>
                <label for="ExposureTime">Exposure Time: <br>(manual mode, 1, 66666, 20000) (µs) </label>
                <input type="number" id="ExposureTime" name="ExposureTime" min="1" max="66666" value="{{ ExposureTime }}">
            </li>
            <li>
                <label for="ExposureValue">ExposureValue <br> (auto mode, -8, 8) (EV):</label>
                <input type="number" id="ExposureValue" name="ExposureValue" min="-8" max="8" value="{{ ExposureValue }}">
            </li>
            <li>
                <label for="AnalogueGainMode">Analogue Gain Mode:</label>
                <select name="AnalogueGainMode" id="AnalogueGainMode">
                    <option value="0" {{ 'selected' if analogueGainMode == 0 }}>Auto</option>
                    <option value="1" {{ 'selected' if analogueGainMode == 1 }}>Manual</option>
                </select>
            </li>
            <li>
                <label for="AnalogueGain">Analogue Gain (manual mode, 1-16):</label>
                <input type="number" id="AnalogueGain" name="AnalogueGain" min="1" max="16" value="{{ AnalogueGain }}">
            </li>
        </ul>
        
        <h3>White Balance and Color</h3>
        <ul>
            <li>
                <label for="AwbEnable">Auto White Balance Mode:</label>
                <select name="AwbEnable" id="AwbEnable">
                    <option value="False" {{ 'selected' if AwbEnable == 'False' }}>False</option>
                    <option value="True" {{ 'selected' if AwbEnable == 'True' }}>True</option>
                </select>
            </li>
            <li>
                <label for="Brightness">Brightness (-1.0, 1.0, 0.0):</label>
                <input type="number" id="Brightness" name="Brightness" step="0.1" min="-1.0" max="1.0" value="{{ Brightness }}">
            </li>
            <li>
                <label for="Contrast">Contrast (0.0, 32.0, 1.0):</label>
                <input type="number" id="Contrast" name="Contrast" step="0.1" min="0" max="32" value="{{ Contrast }}">
            </li>
        </ul>
        <button type="submit">Update & Preview Camera Settings</button>
        <p id =camera-status></p>
    </div>
</form>

<div class="card">
    <div id="preview-container">
        <h3>Live Preview</h3>
        <img id="camera-preview" src="" alt="Camera Live Preview" style="max-width: 100%; height: auto;">
    </div>

    <!-- Custom message box for errors and info -->
    <div id="message-box" class="hidden text-center py-3 px-4 rounded-xl font-medium bg-red-800/50 border border-red-700 text-red-300">
    <!-- Message will be inserted here by JavaScript -->
    </div>
    
    <h3>Camera Metadata</h3>
    <ul>
        <li>Camera Model: {{ camera_model }}</li>
        <li>Camera Meta: </li>
    </ul>
</div>