<html>
  <head>
    <title>Soil Holographic Sensor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="page-content">
      
      <h1>Soil Holographic Stream</h1>

      <div>
        <h3>Latest Image Preview</h3>

      </div>
  
      <div id="camera-setting" class="form-input">      
        <h3>Camera Setting</h3>  
        <form method="POST" action="/camera_setting">
          <ul style="list-style-type:none;">        
            <li>Resolution: 4:3 resolution [640, 480], [1640, 1232], [3280, 2464]: <b>{{resolution}}</b> 
              <input type="text" name="resolution" value="{{resolution}}"></li>
            <li>Framerate: 10-30: <b>{{framerate}}</b> 
              <input type="number" name="framerate" value="{{framerate}}"></li>
            <li>Analogue Gain: 50-1600: <b>{{iso}}</b> 
              <input type="number" name="iso" value="{{iso}}"></li>
            <li>Exposure Time (us): 30-200000: <b>{{expSpd}}</b> 
              <input type="number" name="expSpd" value="{{expSpd}}"></li>

            <li>Exposure Mode: 
                <select name="expMod">
                    <option value="auto" {{ 'selected' if expMod == 'auto' }}>Auto</option>
                    <option value="off" {{ 'selected' if expMod == 'off' }}>Off</option>
                </select>
            </li>
            
            <li>Auto White Balance Mode: 
                <select name="awbMod">
                    <option value="auto" {{ 'selected' if awbMod == 'auto' }}>Auto</option>
                    <option value="off" {{ 'selected' if awbMod == 'off' }}>Off</option>
                </select>
            </li>

            <!-- <li>Exposure Mode: auto/off: <b>{{expMod}}</b> 
              <input type="text" name="expMod" value="{{expMod}}"></li>
            <li>Auto White Balance Mode: auto/off: <b>{{awbMod}}</b> 
              <input type="text" name="awbMod" value="{{awbMod}}"></li> -->
              
            <li>Auto White Balance Gain: 0.9-1.9: <b>{{awbGain}}</b> 
              <input type="number" name="awbGain" step="0.1" value="{{awbGain}}"></li>
          </ul>
          <input type="submit" value="Preview Camera Setting"> 
        </form>
      </div>
      
       
  </body>
</html>