<main class="container">
    <div id="imagelist-container" class="card">
        <h3>Image List 
            <button onclick="updateImageList()">Update List</button>
            <button onclick="downloadAllImages()">Download All</button>
            <button onclick="deleteAllImages()" class="delete-button">Delete All</button>
        </h3>
        <div class="selection-actions">
            <button onclick="downloadSelected()">Download Selected</button>
            <button onclick="deleteSelected()" class="delete-button">Delete Selected</button>
        </div>
        <ul id="image-list">
            </ul>
    </div>
</main>