<main class="container">
    <form class="card">
        <h3>PiCamera2 Time-lapse</h3>
        <div class="image-container">
            <img id="latest-image" src="" alt="Latest Time-lapse Image" style="max-width: 100%; height: auto;">
        </div>
        <div>
            <button type="button" onclick="refreshImage()">
                Refresh
            </button>
        </div>
    </form>
    
    <div class="status">
        Simple TimeLapse Status: 
        {% if running %}
            <span class="running">RUNNING (PID: {{ pid }})</span>
        {% else %}
            <span class="stopped">STOPPED</span>
        {% endif %}
    </div>

    {% if not running %}
        <form action="/start" method="post">
            <button type="submit" class="btn-start">Start Timelapse</button>
        </form>
    {% else %}
        <form action="/stop" method="post">
            <button type="submit" class="btn-stop">Stop Timelapse</button>
        </form>
    {% endif %}

</main>