<!-- <main class="container">

    <div id="timelapse-setting-container" class="form-input card">
        <h2>Time Lapse Setting</h2>
        <form id="timelapse-form" method="POST" action="/start">
            <div>
                <label for="filename-input">Filename:</label>
                <input type="text" id="filename-input" name="filename" placeholder="location, microbes"><br>
                
                <label for="duration-input">Total run time (seconds):</label>
                <input type="number" id="duration-input" name="duration" placeholder="60"><br>
                
                <label for="interval-input">Interval between shots (seconds):</label>
                <input type="number" id="interval-input" name="interval" placeholder="10"><br>
                
                <input class="button" type="submit" value="Start TimeLapse">
            </div>
        </form>
        <h4 id="timelapse-status"></h4>      
    </div>


    <div class="card">
        <h2>Camera Stream</h2>
        <p>Live camera feeds will be displayed here.</p>
    </div>

    <div class="card">
        <h2>Sensor Stream </h2>
        <p>Sensor feed.</p>
    </div>

</main> -->

<main class="container">
    <form class="card">
        <h3>PiCamera2 Time-lapse</h3>
        <div class="image-container">
            <img id="latest-image" src="" alt="Latest Time-lapse Image" style="max-width: 100%; height: auto;">
        </div>
        <div>
            <button type="button" onclick="refreshImage()">
                Refresh
            </button>
        </div>
    </form>

    <form class="card">
        <h3>Sensor Value</h3>
        <div>
            <button type="button" >
                Refresh
            </button>
        </div>
    </form>


    <div>
        <div id="progress-container" style="display:none;">
            <p>Progress:</p>
            <div>
                <span>
                    0/0
                </span>
            </div>
            <div>
                <div style="width:0%"></div>
            </div>
        </div>
    </div>
</main>